html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

.about ul {
  padding-left: 60px;
  margin-bottom: 20px;
  font: normal 16px museo-sans;
}

.quotes {
  margin-bottom: 60px;
}
.quotes div {
  text-align: right;
}
.quotes blockquote {
  text-align: center;
}
.quotes .slick-dots {
  padding: 0;
}

.gallery iframe {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}
.gallery img {
  max-height: 400px;
  margin: 0 auto;
}
.gallery .slick-dots {
  padding: 0;
}

ul {
  list-style: none;
}

ul#columnlist {
    list-style-type: none;
    color: #b3b3b3;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}

ul#columnlist li{
    position: relative;
    font: 700 26px museo-sans;
    margin-left:10px;
}

ul#columnlist li p{
 font: normal 16px museo-sans;
 left: 10px;
 position: relative;
 color: #999;
}


ul#columnlist li span{
 position:absolute;
}

q, blockquote {
  font-style: italic;
  font-size: 2em;
  font-family: Georgia, "Times-New-Roman";
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

body, html {
  background: #f0f0f0;
  font: normal 12px Verdana;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

header {
background: black url("../images/background.jpg") no-repeat center center;
background-size: contain;
height: 850px;
position: relative;
-webkit-box-shadow: 0 0 7px 0 black;
-moz-box-shadow: 0 0 7px 0 black;
box-shadow: 0 0 7px 0 black;
}
header .grid, header .content, header #particles_wrapper, header .blender {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header #particles_wrapper {
  overflow: hidden;
}
header #particles {
  position: absolute;
}
header .particle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: transparent url("../images/particle.png") no-repeat center center;
}
header .grid {
  background: url("../images/grid.png");
  opacity: 0.66;
}
header .content {
  padding-top: 0;
  text-align: center;
}
.center {
  text-align: center;
  margin-bottom: 15px;
}
header .content .logo {
  margin: 40px auto 0;
  display: block;
  width: 100%;
}

header .content p.tagline {
  color: #aaaaaa;
  font-style: italic;
  font-size: 45px;
  font-family: Georgia, "Times-New-Roman";
}
header .navigation {
  overflow: hidden;
  *zoom: 1;
  display: inline-block;
  margin-top: -14px;
 position: absolute;
 width: 440px;
 left: 50%;
 margin-left: -220px;
}

header .navigation .left, header .navigation .right, header .navigation .center {
  width: 6px;
  height: 29px;
  float: left;
}
header .navigation .left {
  background: url("../images/ribbon-left.png");
}
header .navigation .right {
  background: url("../images/ribbon-right.png");
}
header .navigation .center {
  width: 410px;
  background: url("../images/ribbon.png");
  font: 700 12px museo-sans;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
}
header .navigation .center li {
  display: inline-block;
  margin: 0 10px;
}
header .navigation .center li a {
  color: white;
  padding: 7px 0;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation > * {
  display: inline-block;
}

header .navigation .opener {
  display: none;
  width: 40px;
  height: 40px;
  background: none;
  background-image: url("../images/menu.gif");
  left: 10px;
  position: absolute;
  top: 0;
}

.inhalt {
  padding-top: 25px;
  width: 800px;
  margin: auto;
  background-color:white;
  padding-left:50px;
  padding-right:50px;
  padding-bottom: 5px;
}

.inhalt section {
  font: 500 14px museo-sans;
  color: #656565;

}

h1 {
 background: url("../images/headline.png") no-repeat left center;
  padding-left: 35px;
  font: 700 26px museo-sans;
  color: #bb000f;
  text-transform: uppercase;
  background-color:white;
  display: inline-block;
}

.inhalt section p {
  padding-left: 35px;
  font: normal 16px museo-sans;
  margin-bottom: 20px;
  line-height: 150%;
}
.inhalt section.copyright {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}
.inhalt a {
  color: #bb000f;
}
.inhalt a:hover {
  text-decoration: none;
}

ul.talks, ul.sponsors {
  text-align: center;
}

ul.talks li {
  display: inline-block;
  width: 175px;
  height: 250px;
}

ul.talks.candidates li {
  display: inline-block;
  width: 175px;
  height: 120px;
}

ul.talks.candidates li .avatar {
  width: 70px;
  height: 70px;
  background-size: cover;
  border-radius: 35px;
}

ul.sponsors li {
  display: inline-block;
  width: 258px;
  height: 150px;
}

li .avatar {
  width: 120px;
  height: 120px;
  background-size: cover;
  border-radius: 60px;
  border: 1px solid gray;
  margin: 10px auto;
}

li .avatar.nobody {
  background: url("../images/speakers/nobody.png") no-repeat center center;
}

li .name {
  font: 500 18px museo-sans;
  color: #bb000f;
}

li .handle, section.talks ul.talks li .handle a {
  font: 500 14px museo-sans;
  color: #929292;
}

li .topic {
  margin-top: 20px;
  height: 30px;
}

section.sponsors ul.sponsors {
  text-align: center;
}
section.sponsors ul.sponsors li {
  display: inline-block;
  width: 175px;
}
section.sponsors ul.sponsors li img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
section.sponsors ul.sponsors li img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

@font-face {
  font-family: "museo-sans";
  src: url("../fonts/MuseoSans_700-webfont.eot");
  src: url("../fonts/MuseoSans_700-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans_700-webfont.woff") format("woff"), url("../fonts/MuseoSans_700-webfont.ttf") format("truetype"), url("../fonts/MuseoSans_700-webfont.svg#museo_sans_700regular") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "museo-sans";
  src: url("../fonts/MuseoSans_300-webfont.eot");
  src: url("../fonts/MuseoSans_300-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans_300-webfont.woff") format("woff"), url("../fonts/MuseoSans_300-webfont.ttf") format("truetype"), url("../fonts/MuseoSans_300-webfont.svg#museo_sans_300regular") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "museo-sans";
  src: url("../fonts/MuseoSans_100-webfont.eot");
  src: url("../fonts/MuseoSans_100-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans_100-webfont.woff") format("woff"), url("../fonts/MuseoSans_100-webfont.ttf") format("truetype"), url("../fonts/MuseoSans_100-webfont.svg#museo_sans_100regular") format("svg");
  font-weight: 100;
  font-style: normal;
}

.next-dates-box {
    position: absolute;
    z-index:3;
    background-image:url("../images/next-dates.png");
    width: 220px;
    height: 275px;
    margin-left: 570px;
}
.next-dates {
    width: 190px;
    margin: 0 auto;

}
.next-dates h2{
    font: 500 14px museo-sans;
    text-transform: uppercase;
    font-weight:800;
    color: white;
    margin-top: 20px;
    font-size:22px;
    letter-spacing:1px;
}
.next-dates h3{
    font: 500 14px museo-sans;
    text-transform: uppercase;
    font-weight:800;
    color: white;
    margin-top: 5px;
    font-size:22px;
    letter-spacing:1px;
}

section .next-dates p {
  margin-top: 20px;
  padding-left: 0px;
  color: #fff;
}

.dottedline {
  background-image:url(../images/dot.png);
  background-repeat:repeat-x;
  background-position:center;
  width: 100%;
  z-index:100px;
  height: 30px;
  margin: 20px 0;
}

.pfeil {
    position: absolute;
    right: 100px;
    z-index: 2;
    top: 5px;
}

.pfeil img {
  width: 70%;
  height: auto;
}

.banner img {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.tickets img {
  position: absolute;
  top: -70px;
  right: 40px;
  z-index: 1;
}

.ss-form-question input{
  padding: 10px;
  font-size: 18px;
  border: 1px solid #B3B3B3;
  width: 300px;
  padding-right: 80px;
}

.ss-item input[type=submit]{
  border-radius: 0;
  background: #B03120;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  top: -43px;
  position: relative;
  margin-left: 292px;
  -webkit-appearance: none;
  border-radius: 0
}

form.form {
  position: relative;
}

#candidates strong {
  font-weight: bold;
  color: #B03120;
  display: block;
}

#candidates h2 {
  text-align: center;
  font-weight: bold;
}


@media screen and (max-width: 920px){
    header .navigation {
      top: 0px !important;
      margin-top: 0;
      width: inherit;
      margin-left: 0;
      left: 0;
      height: 40px;
    }

    .pfeil {
      width: 150px;
      right: -32px;
    }


    header .navigation .nav {
      display: none;
    }

    .impressions iframe, .impressions img, .about img {
      width: 100%;
    }

    header .navigation.visible {
      height: inherit;
    }

    header .navigation.visible .nav {
      display: block;
    }

    header .navigation.visible .opener {
      display: none;
    }

    header .navigation .opener {
      display: block;
    }

    header .navigation .center {
      background: none;
      height: inherit;
      width: inherit;
    }

    header .navigation .nav li a {
      background: black;
      border-bottom: 1px solid #999;
      padding: 15px 0;
    }

    header .navigation .nav li {
      display: block;
    }

    header .left, header .right {
      display: none;
    }


    header .content .logo img{
        width: 60%;
    }
    header .content p.tagline {
        font-size: 20pt;
    }

    .inhalt {
        width: 100%;
        padding: 0;
    }

    .content {
      overflow: hidden;
    }
    section {
        padding: 10px;
        padding-right: 40px;
    }

    .location {
    padding-right: 20px;
    }

    .next-dates-box {
        display:none;
    }

    ul#columnlist {
    padding-top: 20px;
    }

    .ss-form-question input{
      box-sizing: border-box;
      width: 100%;
    }

    .ss-item input[type=submit]{
      margin-left: 0;
      position: absolute;
      right: -2px;
      top: 16px;
    }
}
